<div class="page-header">
	<h2>New Project</h2>
</div>

{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
<form id="project" method="post" action="/user/project/new/{{user.id}}">
	<div class="form-group">
		<label>Project Title</label>
		<input type="text" class="form-control" placeholder="Title" name="subject">
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" placeholder="Describe project here" name="description" rows="15"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Create</button>
</form>