<div class="container comment ">
	<div class="row">
		<div class="col-sm-3 profile">
		<aside>
			<img  src="/assets/img/dog.jpg" alt="dog image" class="img-circle">
			<h2>{{username}}</h2>
			<a class="twitter-follow-button"
  href="https://twitter.com/Arezootaj"  data-show-screen-name = false>
Follow @Arezootaj</a>
			<hr>
			<p>share this page</p>
			<ul class="clearfix">
				<li><img src="/assets/img/twitter.png"</li>
				<li><img src="/assets/img/facebook.png"</li>
				<li><img src="/assets/img/googleplus.png"</li>
				<li><img src="/assets/img/linkedin.png"</li>
				<li><img src="/assets/img/email.png"</li>
				<li><img src="/assets/img/pinterest.png"</li>

				
			</ul>
		</aside>
	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 Add attchment
</button>

	<form>
					<p> do you have any attachment?! </p>
					<p>
						<label class="sr-only">URL </label>
						<input type="text" class="form-control" placeholder="http://www....">
					</p>
					<p>
						<label class = "sr-only">Description
						</label>
						<textarea class="form-control"  placeholder="Add description"
						id="description"
						required autocompelete="false">
						</textarea>
					</p>
					
					<p> <input type="submit" class="btn btn-primary" value="submit"></p>
				</form>



		</div>
		<div class="col-sm-6 comment">
			<article>
				<header>
					<h2>title project</h2>
				</header>
				<footer>
					<small>
					posted on 1 jan 2015 
					</small>
				</footer>
				<div>
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
				<a href="#">Read More</a>
				</div>
				<footer>
				<hr>
					<span class="label label-default">code </span>
					<span class="label label-default"> programming </span>
					<span class="label label-default"> bootstrap </span>


				</footer>
			</article>
			<div id="comments">
				<h2>
				comments
				</h2>
				<div class="row">
					<div class="col-md-11">
						<p>
						comment!!!!!
						</p>
						<footer>
							<small>
								<b>name of comment owner</b>
								commented on 1 july 2016
							</small>
						</footer>
						<hr>
					</div>
					<div class="col-md-1">
					01
					</div>
				</div>
				<form>
					<h3> Have your say </h3>
					<p>
						<label class = "sr-only">Message
						</label>
						<textarea class="form-control"  placeholder="message"
						id="message"
						required autocompelete="false">
						</textarea>
					</p>
					<p>
						<label class="sr-only">Full Name </label>
						<input type="text" id="name" class="form-control" placeholder="Full Name">
					</p>
					<p>
						<label class="sr-only">Email Address </label>
						<input id="email" type="email" class="form-control" placeholder="Email Address">
					</p>
					<p> <input type="submit" class="btn btn-primary" value="comment" id="comment-btn"> </p>
				</form>
			</div>
			




			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
				      </a>
				    </li>
			  </ul>
</nav>
		</div>
		
	</div>
</div>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script> 

      </script>

<script src="/assets/js/comment.js"> 

      </script>