<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li role="presentation"><a href="/user/project/search">Search</a></li>
			<li role="presentation"><a href="/login">Add Project</a></li>
			<li role="presentation"><a href="/register">All Projects</a></li>
		</ul>
	</nav>
</div>
<hr>

{{#if user.id}}
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">Projects</div>
				<div class="panel-body">
					<lu>
						{{#each user.projects}}
							<li>{{this.subject}}</li>
						{{/each}}
					</lu>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-info">
				<div class="panel-heading">Proposals</div>
				<div class="panel-body">
					<lu>
						{{#each user.proposals}}
							<li>{{this.subject}}</li>
						{{/each}}
					</lu>
				</div>
			</div>
		</div>
	</div>
{{/if}}
