	
		<div class="container">
<!--show all project-->
			<div>
						<h3>Project Manager</h3>
				<h3>Working together in a planned and coordinated way to achieve a common goal</h3>
				<hr>
				<a href="/search" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-eye-open"></span> Search Projects</a>
				<a href="/add-project" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Add New Project</a>
				<a href="/userhome" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-th-list"></span> All Projects</a>
			</div>
			<div class="row">

				<div class="col-lg-12">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>Project Database</strong></h3>
						</div>
						<div class="panel-body" id="well-section">
					
						<!-- Content will go in here -->
						<h3>title !!!!!!!!!!!!!!!!!!! </h3>
						<p><small>zipcode </small>
								<a href="/comment" class="btn btn-info default pull-right">Join</a>
								</p>
						</div>
					</div>
				</div>			
			</div>

		</div>
		