<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>{{body}}</h1>
<hr>
<div class="container">
	<div class="row">
		<a href="/view/register">
			<button type="button" class="btn btn-default btn-lg">Sign-in</button>
		</a>
		<a href="/view/login">
			<button type="button" class="btn btn-default btn-lg">Login</button>
		</a>
	</div>
</div>
