
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Login</h1>
			<form>
				<div class="form-group">
					<label for="username">User name</label>
					<input type="text"  maxlength ="50" required autofocus  name="username" class="form-control" id="username" placeholder="User name"
					title="Please enter username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="user-password" placeholder="Password">
				</div>
				<button type="submit" id="login-btn" class="btn btn-success">Login</button>
			</form>
		</div>
	</div>
	<div class="row subscribtions">
		Subscribe me to 
		<label>
			<input type="checkbox" id="newsletter" name="newsletter" checked value="yes">
			Montly Newsletters
		</label>
		<label>
			<input type = "checkbox" id="blog" name="blog" checked value="yes">
			Blog Updates
		</label>
	</div>
</div>

<script src="/assets/js/login.js"></script>

