<div class="page-header">
	<h2>{{this.subject}}</h2>
</div>

<div class="row">
	<h3>Description</h3>
	<p>{{this.description}}</p>
</div>
<div class="row">
	<div class="col-sm-6">
		<h3>Attachments</h3>
	</div>
	<div class="col-sm-6">
		<h3>Comments</h3>
	</div>
</div>
