
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/user/project/search">Search</a></li>
					<li role="presentation"><a href="/login">Add Project</a></li>
					<li role="presentation"><a href="/register">All Projects</a></li>
				</ul>
			</nav>
		</div>

		<hr>

	<div class="row">
		<div class="col-md-12">
			<form  method="post" action="/user/project/search">
				<div class="form-group">
					<button type="submit" class="btn btn-info pull-right">Search</button>
					<input type="text" class="form-control" placeholder="Project" name="subject">
				</div>
			</form>
			<p></p>
			<div class="panel panel-default col-sm-12">
				<div class="panel-body">
				{{#each this}}
					<a href="/user/project/view/{{id}}">{{subject}}</a>
				{{/each}}
				</div>
			</div>
		</div>
	</div>


