
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="/user/project/search">Search</a></li>
					<li role="presentation"><a href="/login">Add Project</a></li>
					<li role="presentation"><a href="/register">All Projects</a></li>
				</ul>
			</nav>
		</div>

		<hr>

	<div class="row">
		<div class="col-md-12">
			<form  method="post" action="/user/project/search">
				<div class="form-group">
					<button type="submit" class="btn btn-info pull-right">Search</button>
					<input type="text" class="form-control" placeholder="Project" name="subject">
				</div>
			</form>
			<p></p>
			<div class="panel panel-default col-sm-12">
				<div class="panel-body">
					{{#each this}}
						{{#if this.subject}}
							<div class="col-sm-3">
								<a style="text-decoration: none" href="/user/project/open/{{this.id}}">
									<div class="thumbnail">
										<img src="http://placehold.it/150x150" alt="http://placehold.it">
										<div class="caption text-center" >
											<h3>{{this.subject}}</h3>
											<p>{{this.description}}</p>
											<p>Author: {{this.User.name}}</p>
										</div>
									</div>
								</a>
							</div>
						{{/if}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>


