<h1>{{title}}</h1>
<h1>{{body}}</h1>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Register</h1>
			<form>
				<div class="form-group">
					<label for="username">User name</label>
					<input type="text" class="form-control" id="username" placeholder="User name">
				</div>
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="user-email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="user-password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="passwordMatch">Re-Enter Password</label>
					<input type="passwordMatch" class="form-control" id="passwordMatch" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="zip-code">Zip Code</label>
					<input type="zip-code" class="form-control" id="zip-code" placeholder="Zip code">
				</div>
				<button type="submit" id="sign-in-btn" class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
</div>

<script src="/assets/js/sign-in.js"></script>

