/*.jumbotron {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*/
.jumbotron {
	/*background-image: url('../img/5.jpg');*/
	background-color: grey;
	color:black;
	font:italic;
	height: 100%;
	width: 60%;
	left: 50%;
	background-size: cover;
}

body {
    background-image: url('../img/1.jpg');
  
    font-family: 'Open Sans', sans-serif;
    margin:10px;
    height: 100%;
    width: 100%;
    background-size: cover;

}

.form-group{
  width: 500px;
}

.hidden{
  display:none;
}

#success_message{ display: none;}

/*contact form */
div.transbox {
    margin-left: 100px;
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 570px;
}

div.transbox  #sign-in-btn{
    opacity: 1.0;
    font-weight: bold;
    color: #000000;
   width: 100px;
}


/*login*/
.header {

  .logout-button, 
  .welcome {
    display: none;
  }

  .state-logged-in {
    .logout-button, 
    .welcome {
      display: block;
    }    
  }
  
}

.user-authorization {
  padding: 10px;
  background-color: #DDD;

  .login-form {
    &.state-hidden {
      display: none;
    }
  }

  .login-user {
    &.state-hidden {
      display: none;
    }
  }

}

